h1,p,body {
  margin: 0px 
}
p,a {
  font-size: 20px;
}
/* header部分のスタイル */
header {
  padding-bottom: 20px;
  background-color: rgb(244, 79, 79);
  text-align: center;
}
h1 {
  color: rgb(255, 255, 255);
}
/* main部分のスタイル */
main {
  padding: 10px;
}
#parent {
  display: flex;
}
.contents {
  justify-content: space-around;
  border: solid 3px rgb(238, 204, 204);
  flex-basis: 25%;
  padding: 10px 15px;
  margin: 20px 0px;
  text-align: center;
}
h2::before {
  font-size: 25px;
  content: "●";
  color: rgb(239, 111, 139);
}
h2 {
  border-bottom: dotted 3px rgb(236, 122, 122);
}
p:nth-child(3)::first-letter {
  font-weight: bold;
  color: rgb(97, 206, 249);
}
img {
  margin: 10px 0px;
  width: 70%;
}
/* フッター部分のスタイル */
footer {
  background-color: rgb(244, 79, 79);
  text-align: center;
}
a {
  color: rgb(255, 255, 255);
}
a:visited {
  color: rgb(193, 234, 251);
}
a:hover {
  color: rgb(245, 178, 168);
}
/* レスポンシブ対応のスタイル */
@media screen and (max-width: 768px) {
  #parent {
    display: block;
  }
  h2 {
    font-size: 30px;
  }
  p {
    font-size: 25px;
  }
}